.Instructions {
	padding-left: 22px; /* rever padding */
}

#title {
	text-align: center;
}

.out {
	display: flex;
	background-color: brown;
	justify-content: space-around;
}



.mid {
	background-color: green;
	justify-content: space-around;
	display: flex;
	flex-grow: 1;
	padding: 1em;
	margin: 1em;
	border: 1em;
}

.midd {
	background-color: black;
	justify-content: space-around;
	margin: auto;
	flex-grow: 1;
	padding: 1em;
	margin: 1em;
	border: 1em;
}

.inn {
	background-color: purple;
	display: flex;
	justify-content: space-around;
}

.in {
	background-color: yellow;
	display: inline-block;
	flex-grow: 1;
	padding: 1em;
	margin: 1em;
	border: 1em;
}